@import "fonts";
@import "/src/scss/variables";
@import "libs/normalize";

@import "components/all";

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1305px;
    height: 775px;
    background-image: url("../assets/img/tv-bg.jpg");
    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    width: 1280px;
    height: 720px;
    background-image: url("../assets/img/container-bg.jpg");
    background-size: 100% 100%;
    position: relative;
}
